version: '3.8'

services:
  backend:
    image: karthiq18/backend:latest
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    

  frontend:
    image: karthiq18/frontend:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend